<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mike.firebaseexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="Board Gamer" >
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="My Profile" >
        </activity>
        <activity
            android:name=".Activities.SignupActivity"
            android:label="Sign in" >
        </activity>
        <activity
            android:name=".Activities.PasswordActivity"
            android:label="Password" >
        </activity>
    </application>

</manifest>